.container {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 60px;
}

.search {
  border-radius: 10px;
}

.banner {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}
