.container {
  width: 100%;
}

.scrollable-tabs-container {
  overflow-x: auto; /* Включает горизонтальную прокрутку */
  white-space: nowrap; /* Отключает перенос элементов на новую строку */
  display: flex;
  gap: 8px;
}

/* Скрытие полосы прокрутки */
.scrollable-tabs-container {
  scrollbar-width: none; /* Для Firefox - убираем скроллбар */
}

.scrollable-tabs-container::-webkit-scrollbar {
  display: none; /* Убираем полосу прокрутки для Webkit-браузеров (Chrome, Safari) */
}

.scrollable-tabs-container {
  -ms-overflow-style: none; /* Для Internet Explorer и Edge - убираем полосу прокрутки */
}

.tab {
  padding: 8px 16px;
  border-radius: 10px;
  background-color: white;
  border: none;
  font-weight: 600;
  font-size: 12px;
}

.active {
  background-color: #fce133;
}
